@import "includes/normalize";
@import "includes/variables";

h1, h2, h3, h4, h5, h6, p, ul, li, blockquote, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", "Georgia", serif;
  font-size: $font-size-text;
  box-sizing: border-box;
  background: #f0efeb;
  color: #5c4739;
}

h1 {
  font-size: $font-size-h1;
  font-weight: normal;
}

h2 {
  font-size: $font-size-h2;
  font-weight: normal;
}

h3 {
  font-size: $font-size-h3;
  font-weight: normal;
}

h4 {
  font-size: $font-size-h4;
  font-weight: normal;
}

ul {
  list-style: none;
}

.btn {
  background-color: $main-color;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: $font-size-h4;
  padding: 8px 38px;
  transition: .1s;
  text-align: center;

  &:hover {
    background-color: #6d2105;
  }
}

.link {
  color: $main-color;

  &:hover {
    color: lighten($main-color, 10%);
  }
}

// top-panel
.top-panel {
  background: $main-color;
  color: #fff;
  font-size: $font-size-text;
  padding-top: 10px;
  padding-bottom: 11px;

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  &__social-list,
  &__contacts-list {
    display: flex;
    list-style: none;
  }

  &__social-item {
    height: 18px;
    margin-right: 27px;
    display: block;

    &--rss,
    &--vk,
    &--facebook,
    &--instagram,
    &--tripadvisor,
    &--foursquare {
      display: block;
      height: 18px;
    }

    &--rss {
      width: 18px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129.55 129.45' fill='%23fff'%3E%3Cpath class='a' d='M98.01 129.45c-1-55-44.29-97.26-97.8-98V.14C63.7-2.81 130.65 53.36 129.53 129.48H98z'/%3E%3Cpath class='a' d='M.24 48.6c44.47-1.29 82.19 38.33 80.55 80.68H51.45c-.43-14.07-5.22-26.22-15.18-36.14s-21.89-14.7-36-15.1V48.61z'/%3E%3Cpath class='a' d='M18.25 129.45A18.56 18.56 0 0 1 0 110.94a18.63 18.63 0 0 1 18.6-18.2 18.67 18.67 0 0 1 18.1 18.35 18.66 18.66 0 0 1-18.45 18.36z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }

    &--vk {
      width: 16px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.32 44.49' fill='%23fff'%3E%3Cpath class='a' d='M33.81 21.67a21.52 21.52 0 0 0-4.71-1.62l1.32-.65a9.66 9.66 0 0 0 5.62-9.44c-.13-4.23-2.51-6.94-6.37-8.49a26.51 26.51 0 0 0-9.44-1.4C13.83-.04 7.42.07 1 .01c-.73 0-1 .17-1 1v42.54c0 .84.28 1 1.06 1h20a25 25 0 0 0 9-1.45c4.9-1.94 8.45-5 9.18-10.65a10.09 10.09 0 0 0-5.43-10.78zm-21.52-5.38c.06-1.15 0-2.29 0-3.46V8.92c0-.43 0-.78.63-.76 2.29.11 4.6-.19 6.87.22a4 4 0 0 1 3.67 3.89c.11 2.18-.56 3.87-2.83 4.67a7.23 7.23 0 0 1-2.61.52c-1.51 0-3-.06-4.54 0-1.02.17-1.26-.22-1.19-1.17zm13.48 17.26c-1.06 1.75-2.87 2.2-4.69 2.51-2.7.48-5.44.15-8.19.24-.58 0-.6-.32-.6-.76v-9.51c0-.41 0-.82.58-.8 3.09.09 6.2-.28 9.27.26a5.15 5.15 0 0 1 3.63 8.06z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }

    &--facebook {
      width: 8px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.51 52.27' fill='%23fff'%3E%3Ctitle%3Eicon--facebook%3C/title%3E%3Cpath class='a' d='M21.73 10.13c-.63-.41-1.15-.74-1.67-1.06a5.17 5.17 0 0 0-3.3-.85 3.4 3.4 0 0 0-3.54 3.1 3.53 3.53 0 0 0-.09.41c-.35 2.56 0 3 2.54 3h5.43c.72 0 1 .17.82.93-.52 2.47-1 4.95-1.48 7.42a.85.85 0 0 1-1 .8c-1.52 0-3 .07-4.56 0-1-.07-1.17.3-1.17 1.22v25.94c0 1.06-.28 1.35-1.32 1.3-2.21-.09-4.41 0-6.62 0-1.41 0-1.41 0-1.41-1.37V25.25c0-1.15-.33-1.41-1.39-1.35-.91.07-2.08.41-2.74-.17s0-1.71 0-2.6v-5.54a.67.67 0 0 1 .8-.82h2.71a.68.68 0 0 0 .85-.87 20.28 20.28 0 0 1 .43-5.49c1.43-6.19 5.19-8.75 12-8.27 2.08.15 4 1.09 5.9 1.74a.71.71 0 0 1 .54 1c-.55 2.32-1.12 4.71-1.73 7.25z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }

    &--instagram {
      width: 18px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.19 45.36' fill='%23fff'%3E%3Cpath class='a' d='M32.09 16.38a.85.85 0 0 1 .65-.1h11.49c.5 0 .83 0 .83.69-.06 6.58-.12 13.14 0 19.72a9.09 9.09 0 0 1-8.86 8.7c-9.21-.1-18.43 0-27.64 0A9 9 0 0 1 .2 38a22.62 22.62 0 0 1-.14-3.05V17.41a.91.91 0 0 1 1.11-1.13q5.5.06 11 0c1 0 .93.22.52 1A11.45 11.45 0 0 0 20 34.22a11.4 11.4 0 0 0 14-10.94 12 12 0 0 0-1.64-6.22.67.67 0 0 1-.27-.68zM44.73 6.82A8.8 8.8 0 0 0 37.08.18a45.14 45.14 0 0 0-4.64-.12C25.86 0 19.3.06 12.72 0a.73.73 0 0 0-.87.91v9.41c0 .83-.28 1-1 1s-1-.2-1-1V1.21c0-.46.42-1.25-.61-1.23s-.55.75-.55 1.17v9.11c0 .67-.1 1-.89 1s-1-.32-1-1.05v-9c0-.3.06-.69-.28-.77a1 1 0 0 0-.91.3 1 1 0 0 0-.14.85v8.62c0 .69 0 1.09-.93 1.07s-.87-.4-.87-1V1.76A9.13 9.13 0 0 0 .26 6.61c-.65 2.4-.26 4.85-.4 7.29 0 .79.22 1 1 1h12.38a2.29 2.29 0 0 0 1.61-.57c4.12-3.41 9.49-3.9 13.73-.91a7.66 7.66 0 0 0 5.37 1.47h10.2c.36 0 .87.18.87-.48.13-2.54.36-5.11-.29-7.59zm-3.88 3.51a1.21 1.21 0 0 1-1.11 1.19 20 20 0 0 1-5.21 0 1.21 1.21 0 0 1-1.17-1.25 37 37 0 0 1 .06-5.13 1.13 1.13 0 0 1 1.23-1.13H39.71a1.09 1.09 0 0 1 1.15 1.11 25.45 25.45 0 0 1-.01 5.21z'/%3E%3Cpath class='a' d='M22.36 14.09a8.93 8.93 0 0 0-8.7 8.76 8.74 8.74 0 0 0 9 9 8.77 8.77 0 0 0 8.64-8.78 8.83 8.83 0 0 0-8.94-8.98zm.12 15.4a6.51 6.51 0 0 1-6.44-6.64 6.53 6.53 0 0 1 6.38-6.38 6.52 6.52 0 0 1 6.66 6.42 6.48 6.48 0 0 1-6.6 6.6z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }

    &--tripadvisor {
      width: 31px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 87.25 51.61' fill='%23fff'%3E%3Cpath class='a' d='M87.24 31.12c-.15.89-.3 1.78-.45 2.66a20.68 20.68 0 0 1-6.37 11.86 21.19 21.19 0 0 1-12.57 5.85 21.68 21.68 0 0 1-19-7.36l-.52-.56a1 1 0 0 0-.22-.1l-4.61 6.84-4.7-7c-.38.45-.68.86-1 1.23a21.09 21.09 0 0 1-15.34 6.95 20.87 20.87 0 0 1-13.67-4.3A21.33 21.33 0 0 1 .42 33.76c-.13-.7-.29-1.39-.44-2.09v-3.62c.17-.91.32-1.82.5-2.73a21.78 21.78 0 0 1 3.38-7.95 1.4 1.4 0 0 0 .16-1.44c-.36-.88-.62-1.8-1-2.65a18.92 18.92 0 0 0-3-4.88v-.28c4.43 0 8.87.05 13.3 0a4.44 4.44 0 0 0 1.92-.88A47.35 47.35 0 0 1 25.45 2.7 59.34 59.34 0 0 1 42.93.01a58.65 58.65 0 0 1 14.1 1.47 51.62 51.62 0 0 1 15 6.08 3.63 3.63 0 0 0 1.77.47h13.39c-.56.92-1.11 1.67-1.51 2.48-.89 1.83-1.73 3.68-2.51 5.56a1.56 1.56 0 0 0 .2 1.21 24.19 24.19 0 0 1 3.47 8.07c.16.79.31 1.58.47 2.37v3.34zm-4.46-1.3a17.26 17.26 0 0 0-17.64-17.44 17.26 17.26 0 0 0-17.16 17.33 17.37 17.37 0 0 0 17.41 17.47 17.35 17.35 0 0 0 17.39-17.36zm-60.9-17.5A17.47 17.47 0 0 0 4.47 29.74a17.44 17.44 0 0 0 17.29 17.39 17.38 17.38 0 0 0 17.5-17.16 17.4 17.4 0 0 0-17.38-17.65zm1.24-4.61a22.85 22.85 0 0 1 13.42 5.83 22.45 22.45 0 0 1 7 12.76c2.61-10.77 9.33-16.93 20.28-18.53-13.53-5.33-27.09-5.16-40.7-.06z'/%3E%3Cpath class='a' d='M54.55 29.58A10.68 10.68 0 0 1 65.26 18.8 10.67 10.67 0 0 1 76.1 29.51a10.75 10.75 0 0 1-10.63 10.81 10.77 10.77 0 0 1-10.92-10.74zm10.79 7a7.06 7.06 0 0 0 7-7 7.11 7.11 0 0 0-7-7.08 7.14 7.14 0 0 0-7.09 7 7.12 7.12 0 0 0 7.09 7.07zM21.6 18.8a10.68 10.68 0 0 1 10.77 10.8 10.76 10.76 0 0 1-10.94 10.73 10.86 10.86 0 0 1-10.66-10.76A10.78 10.78 0 0 1 21.6 18.8zm0 17.78a7.1 7.1 0 0 0 7-7.08 7.14 7.14 0 0 0-7.12-7 7.15 7.15 0 0 0-7 7.05 7.12 7.12 0 0 0 7.18 7.02z'/%3E%3Cpath class='a' d='M68.9 29.54a3.51 3.51 0 0 1-3.53 3.54 3.51 3.51 0 0 1-3.58-3.54 3.53 3.53 0 0 1 3.59-3.56 3.57 3.57 0 0 1 3.52 3.56zM21.52 33.1a3.48 3.48 0 0 1-3.51-3.62 3.52 3.52 0 0 1 3.62-3.53 3.64 3.64 0 0 1 3.58 3.68 3.57 3.57 0 0 1-3.69 3.47z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }

    &--foursquare {
      width: 18px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.93 53.96' fill='%23fff'%3E%3Ctitle%3Eicon--foursquare%3C/title%3E%3Cpath class='a' d='M52.49 22.68c.9 1.73 1.7 3.49 1.36 5.53a10.91 10.91 0 0 1-2.9 4.35C44.7 38.74 38.5 44.98 32.28 51.19c-3.69 3.69-7.14 3.68-10.87 0q-9.27-9.26-18.54-18.51a10.87 10.87 0 0 1-2.75-4.05c-.5-2.88.57-5.08 2.63-7.1 6.41-6.27 12.71-12.67 19.06-19 3.31-3.3 6.94-3.31 10.23 0 2.43 2.41 4.78 4.91 7.29 7.23 1.08 1 1.23 1.83.38 2.93a2 2 0 0 0-.33.13l-.39.32c-3.72 3.69-7.48 7.35-11.14 11.1-.94 1-1.47.95-2.36 0-1.63-1.78-3.38-3.45-5.1-5.14-2.33-2.3-5-2.38-7.36-.18a67.268 67.268 0 0 0-3.87 3.87c-1.61 1.75-2.19 3.73-.95 6a1.73 1.73 0 0 0 1.24 1.13 12.51 12.51 0 0 0 1 1.4q5.99 5.97 11.92 11.97c3 3 5.56 3 8.54 0q9.82-9.81 19.64-19.63c.56-.52.97-1.32 1.94-.98z'/%3E%3Cpath class='a' d='M41.22 14.91c1.71-1.69 3.44-3.35 5.12-5.07a2.08 2.08 0 0 1 3.34 0c1 1 2 2.1 3.12 3.1a2.66 2.66 0 0 1 .68 3.6 5.12 5.12 0 0 0-1.6 1.36l-23 23c-1.91 1.91-2.56 1.9-4.5 0s-4-4-6-6c-2.41-2.33-4.59-4.9-7.22-7l-.64-1.38c.71-2.29 2.82-3.39 4.29-5s2.24-1.46 3.7 0c2.42 2.4 4.85 4.81 7.23 7.26a1.05 1.05 0 0 0 1.84 0c4.5-4.69 9.07-9.27 13.64-13.87zM39.37 12.73l-.39.32z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }
  }

  &__contacts-item {
    margin-left: 26px;

    a {
      text-decoration: none;
      color: #fff;
    }

    &--phone,
    &--address {
      padding-left: 25px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    &--phone {

      &:before {
        width: 17px;
        height: 22px;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.3 47.81' fill='%23fff'%3E%3Cpath class='a' d='M.25 9.58A12.23 12.23 0 0 1 4.42 2.2c4.45-3.94 9-2.46 10 3.38.75 4.15 2.4 8.51-2.56 11.54-1.72 1.05-.92 2.86-.35 4.39a28.77 28.77 0 0 0 6.18 9.63c2.9 3 5.78 5.22 9.69 1.32 1.46-1.44 3.21-1.08 4.78.2 1 .81 2.07 1.52 3 2.39 1.77 1.66 4.77 2.69 4 6s-3.28 5.37-6.64 6.24c-2.54.64-5.07 1-7.53-.2-14.12-6.69-22-18-24.88-33.14a11.29 11.29 0 0 1-.08-2.4c.01-.68.15-1.33.22-1.97z'/%3E%3C/svg%3E") no-repeat center;
        background-size: cover;
      }
    }

    &--address {

      &:before {
        width: 14px;
        height: 21px;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.87 46.3' fill='%23fff'%3E%3Cpath class='a' d='M15.43 0A15.43 15.43 0 0 0 0 15.43C0 27.26 12.35 46.3 15.43 46.3s15.43-18.46 15.43-30.87A15.43 15.43 0 0 0 15.43 0zm0 23.15a7.72 7.72 0 0 1-7.72-7.72 7.72 7.72 0 0 1 7.72-7.72 7.72 7.72 0 0 1 7.72 7.72 7.72 7.72 0 0 1-7.72 7.72z'/%3E%3C/svg%3E") no-repeat center;
        background-size: cover;
      }
    }
  }
}

// header
.header {
  padding-top: 20px;
  padding-bottom: 18px;

  &__container {
    @include container;
  }

  &__menu {
    list-style: none;
    border-top: 1px solid #595959;
    border-bottom: 1px solid #595959;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &__item {
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    a {
      color: #5c4739;
      text-decoration: none;
      text-transform: uppercase;

      &:hover,
      &.active {
        color: $main-color;
      }
    }

    &:nth-child(1) {
      margin-right: 66px;
    }

    &:nth-child(2) {
      width: 110px;
      margin-right: 49px;
    }

    &:nth-child(3) {
      width: 100px;
    }

    &:nth-child(4) {
      width: 250px;
    }

    &:nth-child(5) {
      margin-right: 5px;
    }

    &:nth-child(6) {
      margin-left: 36px;
    }

    &:nth-child(7) {
      width: 150px;
      margin-left: 30px;
    }
  }

  &__logo {
    position: relative;
    width: 250px;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 195px;
      height: 74px;
      margin: -43px auto;
      padding-left: 20px;
      padding-right: 20px;
      content: '';
      background: url(../images/header__logo.png) no-repeat center;
      background-color: #f0efeb;
    }
  }
}

// promo
.promo {
  color: #fff;

  &__container {
    @include container;
  }

  &__title {
    text-align: center;
  }

  &--about {
    min-height: 240px;
    background: url(../images/about__promo.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 70px;
    padding-top: 160px;
  }

  &--blog {
    min-height: 240px;
    background: url(../images/blog__promo.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 60px;
    padding-top: 160px;
  }
}

// two-col-text
.two-col-text {
  padding-bottom: 88px;

  &__container {
    @include container
  }

  &__text {
    font-family: $sans-serif;
    font-size: $font-size-h4;
    line-height: 24px;
    column-count: 2;
  }
}

// advantages
.advantages {
  padding-bottom: 102px;

  &__container {
    @include container;
  }

  &__title {
    font-size: $font-size-h3;
    font-weight: normal;
    text-align: center;
    padding-bottom: 73px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__text {
    font-family: $sans-serif;
    font-size: $font-size-h4;
    line-height: 22px;
    text-align: center;
  }

  &__item {
    width: 30%;
  }

  &__image {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 32px;

    &--chief,
    &--dish,
    &--plate {

      &:before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      }
    }

    &--chief:before {
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 144.54 113.04' fill='%23a33208'%3E%3Cpath d='M27.88 69.69A28 28 0 0 1 0 41.85a28 28 0 0 1 27.87-27.87h3.66A28 28 0 0 1 55.75.04a27.54 27.54 0 0 1 24 13.94h3.83a28 28 0 0 1 27.92 27.87 28 28 0 0 1-27.87 27.87v38.33a3.49 3.49 0 0 1-3.48 3.48H31.37a3.49 3.49 0 0 1-3.48-3.48V69.72zm0-41.81a30.06 30.06 0 0 1 1.92-10.45h-1.92A24.46 24.46 0 0 0 3.49 41.82a24.46 24.46 0 0 0 24.39 24.39 3.5 3.5 0 0 1 3.48 3.48V90.6h10.45V76.66a1.65 1.65 0 0 1 1.74-1.74 1.65 1.65 0 0 1 1.74 1.74V90.6H54V73.18a1.65 1.65 0 0 1 1.74-1.74 1.65 1.65 0 0 1 1.74 1.74V90.6h8.71V76.66a1.65 1.65 0 0 1 1.74-1.74 1.65 1.65 0 0 1 1.74 1.74V90.6h10.45V69.69a3.5 3.5 0 0 1 3.48-3.48A24.46 24.46 0 0 0 108 41.85a24.46 24.46 0 0 0-24.39-24.39h-2.09a26.67 26.67 0 0 1 2.09 10.45v7a1.65 1.65 0 0 1-1.74 1.74 1.65 1.65 0 0 1-1.74-1.74v-7A24.46 24.46 0 0 0 55.74 3.52a24.46 24.46 0 0 0-24.39 24.39v7a1.65 1.65 0 0 1-1.74 1.74 1.65 1.65 0 0 1-1.74-1.74v-7zm3.48 80.14h48.78V94.08H31.36v13.94z'/%3E%3Cpath d='M103 92.26a20.73 20.73 0 0 0 20.77 20.77 20.84 20.84 0 0 0 20.77-20.77c0-3.68-6.87-6.71-14.38-7.51v-64.6a6.41 6.41 0 0 0-6.39-6.39 6.41 6.41 0 0 0-6.39 6.39v64.6c-7.67.8-14.38 3.84-14.38 7.51zm25.57-4.63c3.2 0 12.78 1.76 12.78 4.63 0 2.72-7.83 4.79-17.58 4.79s-17.58-2.08-17.58-4.79c0-2.88 9.59-4.63 12.78-4.63a1.51 1.51 0 0 0 1.6-1.6V20.15a3.21 3.21 0 0 1 3.2-3.2 3.21 3.21 0 0 1 3.2 3.2v65.88a1.51 1.51 0 0 0 1.6 1.6zm-4.79 22.21a17.69 17.69 0 0 1-17.1-12.94c3.84 2.08 10.07 3.36 17.1 3.36s13.26-1.28 16.94-3.36a17.36 17.36 0 0 1-16.95 12.95zM38.67 27.34a1.75 1.75 0 0 1-1.75-1.9A18.92 18.92 0 0 1 54.11 8.71a1.75 1.75 0 0 1 1.9 1.75 1.75 1.75 0 0 1-1.6 1.74 15.53 15.53 0 0 0-14 13.58 1.75 1.75 0 0 1-1.74 1.56z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
      width: 136px;
      height: 106px;
    }

    &--dish:before {
      width: 137px;
      height: 117px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 162.17 138.03' fill='%23a33208'%3E%3Crect x='126.42' y='125.39' width='33.99' height='3.68' rx='1.84' ry='1.84'/%3E%3Cpath d='M144.14 104.33h-1.51c-8.6 0-16-8.33-17.71-19.81a33.09 33.09 0 0 1-.16-7.36l3.67-47.17a2.73 2.73 0 0 1 2.72-2.52h24.47a2.73 2.73 0 0 1 2.72 2.52l3.67 47.17a33.09 33.09 0 0 1-.16 7.36c-1.63 11.45-9.08 19.81-17.71 19.81zm-11-73.18a1.25 1.25 0 0 0-1.25 1.15l-3.51 45.14a29.65 29.65 0 0 0 .13 6.55c1.4 9.65 7.32 16.66 14.07 16.66h1.56c6.75 0 12.67-7 14.07-16.66a29.57 29.57 0 0 0 .13-6.55l-3.51-45.14a1.25 1.25 0 0 0-1.25-1.15h-20.4z'/%3E%3Crect x='2134.4' y='-1186.96' width='35.37' height='3.55' rx='1.78' ry='1.78' transform='rotate(-86.19 1809.196 515.217)'/%3E%3Cpath d='M141.57 103.63h3.68v24.52h-3.68zM9.51 128.53a1.63 1.63 0 0 0 1.26.54h66.89l31.2 9h.54a2.55 2.55 0 0 0 1.08-.36 1.63 1.63 0 0 0 .72-1.43v-7.17h7.17a1.63 1.63 0 0 0 1.26-.54l9-9a1.64 1.64 0 0 0 .36-2 1.57 1.57 0 0 0-1.61-1.08h-7.24a55.6 55.6 0 0 0-50-53.44 5.89 5.89 0 0 0 .72-3 6.35 6.35 0 0 0-6.28-6.28 6.35 6.35 0 0 0-6.28 6.28 8.45 8.45 0 0 0 .72 3 55.6 55.6 0 0 0-50 53.44H1.85a1.57 1.57 0 0 0-1.61 1.08 1.64 1.64 0 0 0 .36 2zm98.09 5.38L59.36 120.1h48.24v13.81zm15.42-13.81l-5.38 5.38h-6.5v-5.38h11.84zM64.56 57.33a2.76 2.76 0 0 1 2.69 2.69 2.76 2.76 0 0 1-2.69 2.69 2.76 2.76 0 0 1-2.69-2.69 2.76 2.76 0 0 1 2.69-2.69zm0 9a52 52 0 0 1 52 50.21h-104a52 52 0 0 1 52-50.21zm-53.8 53.8h35.68l18.83 5.38h-53.8l-5.38-5.38h4.66z'/%3E%3Cpath d='M66.36 73.48a1.69 1.69 0 0 0-1.79-1.79 46.48 46.48 0 0 0-42.68 28 1.78 1.78 0 0 0 .9 2.33 1.08 1.08 0 0 0 .72.18 1.57 1.57 0 0 0 1.61-1.08A43.23 43.23 0 0 1 64.57 75.3a1.69 1.69 0 0 0 1.79-1.82zM79.99 54.65a1.58 1.58 0 0 0 .72 2.33 1.34 1.34 0 0 0 .9.18 1.88 1.88 0 0 0 1.61-.9c5-9.68 2.33-15.06.18-19.55s-4.12-8.25 0-16.32a1.78 1.78 0 0 0-.9-2.33 1.78 1.78 0 0 0-2.33.9c-4.84 9.68-2.15 14.88 0 19.55 2.15 4.3 3.97 8.07-.18 16.14zM62.05 36.72a1.58 1.58 0 0 0 .72 2.33 1.34 1.34 0 0 0 .9.18 1.88 1.88 0 0 0 1.61-.9c5-9.68 2.33-15.06.18-19.55s-4.12-8.25 0-16.32a1.78 1.78 0 0 0-.9-2.33 1.78 1.78 0 0 0-2.33.9c-4.84 9.68-2.15 14.88 0 19.55 2.16 4.3 3.91 8.07-.18 16.14zM45.74 54.65a1.58 1.58 0 0 0 .72 2.33 1.34 1.34 0 0 0 .9.18 1.88 1.88 0 0 0 1.61-.9c5-9.68 2.33-15.06.18-19.55s-4.12-8.25 0-16.32a1.78 1.78 0 0 0-.9-2.33 1.78 1.78 0 0 0-2.33.9c-4.84 9.68-2.15 14.88 0 19.55 2.15 4.3 3.94 8.07-.18 16.14z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }

    &--plate:before {
      width: 108px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 109.57 103.04' stroke='%23a33208' stroke-miterlimit='10' stroke-width='3' fill='none'%3E%3Crect class='a' x='1.75' y='1.75' width='106.07' height='99.54' rx='3.34' ry='3.34'/%3E%3Crect class='a' x='13.66' y='49.12' width='81.58' height='40.06' rx='2.53' ry='2.53'/%3E%3Cpath class='a' d='M13.07 74.87a291.27 291.27 0 0 1 40.27-2.91 291.3 291.3 0 0 1 41.9 2.91'/%3E%3Ccircle class='a' cx='17.26' cy='14.78' r='3.86'/%3E%3Ccircle cx='31.24' cy='14.66' r='1.88'/%3E%3Ccircle cx='41.4' cy='14.66' r='1.88'/%3E%3Ccircle cx='51.56' cy='14.66' r='1.88'/%3E%3Crect x='13.07' y='35.7' width='82.95' height='3.45' rx='1.72' ry='1.72'/%3E%3Cpath d='M1.75 25.11h106.07v3.68H1.75z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }
  }
}

// col-text-col-image
.col-text-col-image {
  background: url(../images/mk__promo-preview.jpg) no-repeat;
  background-size: 50%;
  background-position: 100% 0;
  min-height: 400px;
  margin-bottom: 70px;

  &--image-left {
    background: url(../images/celebrate__promo-preview.jpg) no-repeat;
    background-size: 50%;
    background-position: 0 0;

    .col-text-col-image__content {
      margin-left: 52%;
    }
  }

  &__container {
    @include container;
  }

  &__title {
    padding-bottom: 17px;
  }

  &__image {
    display: none;
  }

  &__content {
    width: 48%;
  }

  &__text {
    font-size: $font-size-text-big;
    font-family: $sans-serif;
    padding-bottom: 51px;
    line-height: 20px;
  }
}

// about-chiefs
.about-chiefs {
  padding-top: 26px;
  padding-bottom: 80px;

  &__container {
    @include container;
  }

  &__title {
    text-align: center;
    padding-bottom: 42px;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 49%;
    display: flex;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin-bottom: 28px;

    &:hover {
      border-color: $main-color;
    }
  }

  &__image {
    width: 200px;
    height: 280px;
    overflow: hidden;
    flex: 1 0 200px;

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  &__content {
    padding: 23px;
    padding-right: 75px;
  }

  &__subtitle {
    color: $main-color;
  }

  &__span {
    display: block;
    font-size: $font-size-text;
    padding-bottom: 12px;
  }

  &__text {
    font-size: 12px;
    font-family: $sans-serif;
    line-height: 18px;
    padding-bottom: 16px;
  }
}

// contacts
.contacts {
  display: flex;

  &__map {
    width: 50%;

    iframe {
      width: 100%;
    }
  }

  &__content {
    width: 50%;
    background-color: #dbd7d0;
    padding: 52px 58px;
    box-sizing: border-box;
  }

  &__title {
    padding-bottom: 33px;
  }

  &__span {
    font-size: $font-size-h4;
    display: block;
    line-height: 18px;
    padding-bottom: 23px;
  }

  &__text {
    font-size: $font-size-text;
    font-family: $sans-serif;
    line-height: 18px;
    padding-top: 10px;
    width: 490px;
    padding-bottom: 43px;
  }

  &__social-list {
    list-style: none;
    display: flex;
  }

  &__social-item {
    height: 18px;
    margin-right: 27px;
    display: block;

    &--rss,
    &--vk,
    &--facebook,
    &--instagram,
    &--tripadvisor,
    &--foursquare {
      display: block;
      height: 18px;
    }

    &--rss {
      width: 18px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 129.55 129.45' fill='%23a33208'%3E%3Cpath class='a' d='M98.01 129.45c-1-55-44.29-97.26-97.8-98V.14C63.7-2.81 130.65 53.36 129.53 129.48H98z'/%3E%3Cpath class='a' d='M.24 48.6c44.47-1.29 82.19 38.33 80.55 80.68H51.45c-.43-14.07-5.22-26.22-15.18-36.14s-21.89-14.7-36-15.1V48.61z'/%3E%3Cpath class='a' d='M18.25 129.45A18.56 18.56 0 0 1 0 110.94a18.63 18.63 0 0 1 18.6-18.2 18.67 18.67 0 0 1 18.1 18.35 18.66 18.66 0 0 1-18.45 18.36z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }

    &--vk {
      width: 16px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.32 44.49' fill='%23a33208'%3E%3Cpath class='a' d='M33.81 21.67a21.52 21.52 0 0 0-4.71-1.62l1.32-.65a9.66 9.66 0 0 0 5.62-9.44c-.13-4.23-2.51-6.94-6.37-8.49a26.51 26.51 0 0 0-9.44-1.4C13.83-.04 7.42.07 1 .01c-.73 0-1 .17-1 1v42.54c0 .84.28 1 1.06 1h20a25 25 0 0 0 9-1.45c4.9-1.94 8.45-5 9.18-10.65a10.09 10.09 0 0 0-5.43-10.78zm-21.52-5.38c.06-1.15 0-2.29 0-3.46V8.92c0-.43 0-.78.63-.76 2.29.11 4.6-.19 6.87.22a4 4 0 0 1 3.67 3.89c.11 2.18-.56 3.87-2.83 4.67a7.23 7.23 0 0 1-2.61.52c-1.51 0-3-.06-4.54 0-1.02.17-1.26-.22-1.19-1.17zm13.48 17.26c-1.06 1.75-2.87 2.2-4.69 2.51-2.7.48-5.44.15-8.19.24-.58 0-.6-.32-.6-.76v-9.51c0-.41 0-.82.58-.8 3.09.09 6.2-.28 9.27.26a5.15 5.15 0 0 1 3.63 8.06z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }

    &--facebook {
      width: 8px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.51 52.27' fill='%23a33208'%3E%3Ctitle%3Eicon--facebook%3C/title%3E%3Cpath class='a' d='M21.73 10.13c-.63-.41-1.15-.74-1.67-1.06a5.17 5.17 0 0 0-3.3-.85 3.4 3.4 0 0 0-3.54 3.1 3.53 3.53 0 0 0-.09.41c-.35 2.56 0 3 2.54 3h5.43c.72 0 1 .17.82.93-.52 2.47-1 4.95-1.48 7.42a.85.85 0 0 1-1 .8c-1.52 0-3 .07-4.56 0-1-.07-1.17.3-1.17 1.22v25.94c0 1.06-.28 1.35-1.32 1.3-2.21-.09-4.41 0-6.62 0-1.41 0-1.41 0-1.41-1.37V25.25c0-1.15-.33-1.41-1.39-1.35-.91.07-2.08.41-2.74-.17s0-1.71 0-2.6v-5.54a.67.67 0 0 1 .8-.82h2.71a.68.68 0 0 0 .85-.87 20.28 20.28 0 0 1 .43-5.49c1.43-6.19 5.19-8.75 12-8.27 2.08.15 4 1.09 5.9 1.74a.71.71 0 0 1 .54 1c-.55 2.32-1.12 4.71-1.73 7.25z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }

    &--instagram {
      width: 18px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.19 45.36' fill='%23a33208'%3E%3Cpath class='a' d='M32.09 16.38a.85.85 0 0 1 .65-.1h11.49c.5 0 .83 0 .83.69-.06 6.58-.12 13.14 0 19.72a9.09 9.09 0 0 1-8.86 8.7c-9.21-.1-18.43 0-27.64 0A9 9 0 0 1 .2 38a22.62 22.62 0 0 1-.14-3.05V17.41a.91.91 0 0 1 1.11-1.13q5.5.06 11 0c1 0 .93.22.52 1A11.45 11.45 0 0 0 20 34.22a11.4 11.4 0 0 0 14-10.94 12 12 0 0 0-1.64-6.22.67.67 0 0 1-.27-.68zM44.73 6.82A8.8 8.8 0 0 0 37.08.18a45.14 45.14 0 0 0-4.64-.12C25.86 0 19.3.06 12.72 0a.73.73 0 0 0-.87.91v9.41c0 .83-.28 1-1 1s-1-.2-1-1V1.21c0-.46.42-1.25-.61-1.23s-.55.75-.55 1.17v9.11c0 .67-.1 1-.89 1s-1-.32-1-1.05v-9c0-.3.06-.69-.28-.77a1 1 0 0 0-.91.3 1 1 0 0 0-.14.85v8.62c0 .69 0 1.09-.93 1.07s-.87-.4-.87-1V1.76A9.13 9.13 0 0 0 .26 6.61c-.65 2.4-.26 4.85-.4 7.29 0 .79.22 1 1 1h12.38a2.29 2.29 0 0 0 1.61-.57c4.12-3.41 9.49-3.9 13.73-.91a7.66 7.66 0 0 0 5.37 1.47h10.2c.36 0 .87.18.87-.48.13-2.54.36-5.11-.29-7.59zm-3.88 3.51a1.21 1.21 0 0 1-1.11 1.19 20 20 0 0 1-5.21 0 1.21 1.21 0 0 1-1.17-1.25 37 37 0 0 1 .06-5.13 1.13 1.13 0 0 1 1.23-1.13H39.71a1.09 1.09 0 0 1 1.15 1.11 25.45 25.45 0 0 1-.01 5.21z'/%3E%3Cpath class='a' d='M22.36 14.09a8.93 8.93 0 0 0-8.7 8.76 8.74 8.74 0 0 0 9 9 8.77 8.77 0 0 0 8.64-8.78 8.83 8.83 0 0 0-8.94-8.98zm.12 15.4a6.51 6.51 0 0 1-6.44-6.64 6.53 6.53 0 0 1 6.38-6.38 6.52 6.52 0 0 1 6.66 6.42 6.48 6.48 0 0 1-6.6 6.6z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }

    &--tripadvisor {
      width: 31px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 87.25 51.61' fill='%23a33208'%3E%3Cpath class='a' d='M87.24 31.12c-.15.89-.3 1.78-.45 2.66a20.68 20.68 0 0 1-6.37 11.86 21.19 21.19 0 0 1-12.57 5.85 21.68 21.68 0 0 1-19-7.36l-.52-.56a1 1 0 0 0-.22-.1l-4.61 6.84-4.7-7c-.38.45-.68.86-1 1.23a21.09 21.09 0 0 1-15.34 6.95 20.87 20.87 0 0 1-13.67-4.3A21.33 21.33 0 0 1 .42 33.76c-.13-.7-.29-1.39-.44-2.09v-3.62c.17-.91.32-1.82.5-2.73a21.78 21.78 0 0 1 3.38-7.95 1.4 1.4 0 0 0 .16-1.44c-.36-.88-.62-1.8-1-2.65a18.92 18.92 0 0 0-3-4.88v-.28c4.43 0 8.87.05 13.3 0a4.44 4.44 0 0 0 1.92-.88A47.35 47.35 0 0 1 25.45 2.7 59.34 59.34 0 0 1 42.93.01a58.65 58.65 0 0 1 14.1 1.47 51.62 51.62 0 0 1 15 6.08 3.63 3.63 0 0 0 1.77.47h13.39c-.56.92-1.11 1.67-1.51 2.48-.89 1.83-1.73 3.68-2.51 5.56a1.56 1.56 0 0 0 .2 1.21 24.19 24.19 0 0 1 3.47 8.07c.16.79.31 1.58.47 2.37v3.34zm-4.46-1.3a17.26 17.26 0 0 0-17.64-17.44 17.26 17.26 0 0 0-17.16 17.33 17.37 17.37 0 0 0 17.41 17.47 17.35 17.35 0 0 0 17.39-17.36zm-60.9-17.5A17.47 17.47 0 0 0 4.47 29.74a17.44 17.44 0 0 0 17.29 17.39 17.38 17.38 0 0 0 17.5-17.16 17.4 17.4 0 0 0-17.38-17.65zm1.24-4.61a22.85 22.85 0 0 1 13.42 5.83 22.45 22.45 0 0 1 7 12.76c2.61-10.77 9.33-16.93 20.28-18.53-13.53-5.33-27.09-5.16-40.7-.06z'/%3E%3Cpath class='a' d='M54.55 29.58A10.68 10.68 0 0 1 65.26 18.8 10.67 10.67 0 0 1 76.1 29.51a10.75 10.75 0 0 1-10.63 10.81 10.77 10.77 0 0 1-10.92-10.74zm10.79 7a7.06 7.06 0 0 0 7-7 7.11 7.11 0 0 0-7-7.08 7.14 7.14 0 0 0-7.09 7 7.12 7.12 0 0 0 7.09 7.07zM21.6 18.8a10.68 10.68 0 0 1 10.77 10.8 10.76 10.76 0 0 1-10.94 10.73 10.86 10.86 0 0 1-10.66-10.76A10.78 10.78 0 0 1 21.6 18.8zm0 17.78a7.1 7.1 0 0 0 7-7.08 7.14 7.14 0 0 0-7.12-7 7.15 7.15 0 0 0-7 7.05 7.12 7.12 0 0 0 7.18 7.02z'/%3E%3Cpath class='a' d='M68.9 29.54a3.51 3.51 0 0 1-3.53 3.54 3.51 3.51 0 0 1-3.58-3.54 3.53 3.53 0 0 1 3.59-3.56 3.57 3.57 0 0 1 3.52 3.56zM21.52 33.1a3.48 3.48 0 0 1-3.51-3.62 3.52 3.52 0 0 1 3.62-3.53 3.64 3.64 0 0 1 3.58 3.68 3.57 3.57 0 0 1-3.69 3.47z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }

    &--foursquare {
      width: 18px;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53.93 53.96' fill='%23a33208'%3E%3Ctitle%3Eicon--foursquare%3C/title%3E%3Cpath class='a' d='M52.49 22.68c.9 1.73 1.7 3.49 1.36 5.53a10.91 10.91 0 0 1-2.9 4.35C44.7 38.74 38.5 44.98 32.28 51.19c-3.69 3.69-7.14 3.68-10.87 0q-9.27-9.26-18.54-18.51a10.87 10.87 0 0 1-2.75-4.05c-.5-2.88.57-5.08 2.63-7.1 6.41-6.27 12.71-12.67 19.06-19 3.31-3.3 6.94-3.31 10.23 0 2.43 2.41 4.78 4.91 7.29 7.23 1.08 1 1.23 1.83.38 2.93a2 2 0 0 0-.33.13l-.39.32c-3.72 3.69-7.48 7.35-11.14 11.1-.94 1-1.47.95-2.36 0-1.63-1.78-3.38-3.45-5.1-5.14-2.33-2.3-5-2.38-7.36-.18a67.268 67.268 0 0 0-3.87 3.87c-1.61 1.75-2.19 3.73-.95 6a1.73 1.73 0 0 0 1.24 1.13 12.51 12.51 0 0 0 1 1.4q5.99 5.97 11.92 11.97c3 3 5.56 3 8.54 0q9.82-9.81 19.64-19.63c.56-.52.97-1.32 1.94-.98z'/%3E%3Cpath class='a' d='M41.22 14.91c1.71-1.69 3.44-3.35 5.12-5.07a2.08 2.08 0 0 1 3.34 0c1 1 2 2.1 3.12 3.1a2.66 2.66 0 0 1 .68 3.6 5.12 5.12 0 0 0-1.6 1.36l-23 23c-1.91 1.91-2.56 1.9-4.5 0s-4-4-6-6c-2.41-2.33-4.59-4.9-7.22-7l-.64-1.38c.71-2.29 2.82-3.39 4.29-5s2.24-1.46 3.7 0c2.42 2.4 4.85 4.81 7.23 7.26a1.05 1.05 0 0 0 1.84 0c4.5-4.69 9.07-9.27 13.64-13.87zM39.37 12.73l-.39.32z'/%3E%3C/svg%3E") no-repeat center;
      background-size: cover;
    }
  }
}

// footer
.footer {
  background-color: #bdb8b4;
  padding-top: 5px;
  padding-bottom: 30px;

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 201px;
    height: 63px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1020.59 324.44' fill='%23a33208'%3E%3Cpath d='M473.26 229.14v-85.47c0-6.71-3.47-11.58-9.18-13.33-5.12-1.57-11.37.39-13.73 5.45a29.69 29.69 0 0 0-2.28 12.05c-.18 29.49-.1 59-.09 88.47 0 26.33 0 52.65.11 79 0 4.11-1.42 5.82-5.52 5.63a94.41 94.41 0 0 0-11.49 0c-4.63.35-6.08-1.5-6-6.07.19-24.16.12-48.32.12-72.48 0-30.66-.13-61.32.1-92a78 78 0 0 1 2.39-18.74c3.56-13.77 15.5-22.57 29.75-23.06 8.69-.3 17 .68 24.29 5.87 3 2.15 5.28.33 7.71-1.15 13.61-8.27 34.1-6 45 5.07 7.28 7.39 9.42 16.86 9.54 26.65.34 27 .23 54 .27 81 0 29.66 0 59.32.12 89 0 4.68-1.69 6.3-6.19 6a93 93 0 0 0-11 0c-3.84.17-5.34-1.42-5.35-5.3 0-15-.33-30-.35-45q-.08-60.23 0-120.47a75.07 75.07 0 0 0-.41-9.48 12.59 12.59 0 0 0-12.42-10.86 12.32 12.32 0 0 0-12.17 10.47 82.17 82.17 0 0 0-.22 11v140q0 11.74.58 23.47c.21 4.44-1.26 6.53-6 6.22-4.15-.28-8.33-.12-12.49 0-3.37.07-4.74-1.39-4.73-4.82q.11-43.48 0-87h-.36zM818.98 216.64V121.2c0-13.29-4.23-18.56-17.27-21.65-7-1.65-10.63-6-10.65-13.06q-.09-36.48 0-73c0-8.27 5.53-13.52 13.82-13.53h51c7.93 0 13.25 5.43 13.25 13.45v72.45c0 7.95-3.26 12.05-10.93 13.7-12.14 2.61-16.87 8.31-16.88 21q-.06 96.69 0 193.38c0 6.5-.29 6.88-6.63 6.88-3.33 0-6.67-.15-10 .05-4.31.26-5.88-1.48-5.82-5.85.2-15.82.12-31.65.13-47.47l-.02-50.91zM834.93 49.2c0-7.15.09-14.3 0-21.44-.07-4-.14-8.42-5.21-9.52-2.9-.62-5.34 3.73-5.36 9.33q-.09 21.69 0 43.39c0 3.95.67 8.68 5.27 8.81 4.92.14 5.22-4.8 5.31-8.63.12-7.33 0-14.63-.01-21.94zm-28.87-.4v22c0 5.66 2.25 10 5.13 9.44 5.13-1.09 5-5.48 5.06-9.53V27.29c0-1.8 0-3.9-.83-5.31-1-1.63-2.93-3.49-4.6-3.63-1.26-.11-3.17 2.1-4 3.69s-.7 3.54-.71 5.35c-.09 7.1 0 14.25-.05 21.42zm37 0v16.45c0 3-.55 6.18.32 8.9.74 2.3 3.17 4.06 4.86 6.06 1.67-2 3.37-4 5-6.11a2.71 2.71 0 0 0 .15-1.47c0-15.62.06-31.24-.06-46.86 0-3.38-.73-7.45-4.85-7.52-4.38-.08-5.09 4-5.4 7.62-.08 1 0 2 0 3q.03 9.94.03 19.94zM563.94 228.72c0-26.33-.1-52.66.08-79a79 79 0 0 1 1.81-16.33 31 31 0 0 1 27.5-24.6c17.49-1.92 31.85 4.28 37.28 17.85 2.89 7.21 4.07 15.53 4.15 23.37.39 40.16.16 80.32.19 120.49 0 14.83.05 29.66.31 44.49.07 4.23-1.19 6.22-5.68 5.94-4-.25-8-.11-12 0-3.47.09-5.24-1.19-5.23-4.94.11-28.16.09-56.33.22-84.49 0-6.6-.66-7.5-7.32-7.47h-12c-5.73.06-6.58.92-6.58 6.78v83c0 6.83-.26 7.11-6.95 7.06-3.17 0-6.35-.22-9.49.06-4.75.43-6.45-1.31-6.42-6.22.22-28.66.12-57.32.13-85.99zm22.79-58.41h-.05v25.45c0 6.16.87 7 6.86 7h11.48c6.18 0 7.15-.93 7.15-7.26 0-15.47 0-30.94-.05-46.41a60.21 60.21 0 0 0-.69-9.43c-.81-4.94-4.15-7.93-8.72-9.32s-9.34-.34-12.12 3.61a21.26 21.26 0 0 0-3.69 10.43c-.52 8.61-.17 17.29-.17 25.94zM1020.59 215.73v70c0 29.06-26.72 46.63-53.32 34.93-9.37-4.12-15-11.73-17.05-21.49a97.6 97.6 0 0 1-2-19.84q-.25-63.24 0-126.49a103.89 103.89 0 0 1 1.41-16.41c2.33-14.26 10.52-23.32 24.7-26.87 16.53-4.14 33.54 2 40.31 16.14a59.27 59.27 0 0 1 5.42 23.06c.7 22.31.25 44.66.25 67h.31zm-49.57.81v64.48a93.45 93.45 0 0 0 .41 10.48A12.77 12.77 0 0 0 983 302.81a12.27 12.27 0 0 0 13-10 37.59 37.59 0 0 0 .74-7.93q.07-68.23 0-136.45a42.63 42.63 0 0 0-.75-8.43 12.42 12.42 0 0 0-12.41-10.19 12.59 12.59 0 0 0-12.09 11.24 81.17 81.17 0 0 0-.46 10q-.05 32.76-.01 65.49z'/%3E%3Cpath d='M862.72 220.32c0-30.66-.05-61.32.07-92 0-3.59.14-7.68 1.84-10.6 1.55-2.67 5.26-5.67 8.07-5.73 11.94-.26 24-.52 35.8 1.2 13 1.91 21.88 11.08 22.91 23.85 1.51 18.82 1 37.86.28 56.76-.3 7.81-5.37 13.82-13.42 16.45-1.06.34-2.44 1.64-2.49 2.56s1.07 2.43 2.07 3c9.26 5.31 12.89 14 13.06 23.86.43 25.49.25 51 .38 76.48 0 3.43-1.53 4.83-4.85 4.76-4.33-.09-8.67-.23-13 0-4 .21-5.21-1.45-5.19-5.3.14-23 .11-46 .11-69 0-2.66 0-5.35-.21-8a16 16 0 0 0-19.34-14.06c-3.52.74-3.72 3.25-3.71 6.07q.05 16.75 0 33.49c0 16.83-.12 33.66.13 50.49.07 4.87-1.61 6.66-6.39 6.3a105.58 105.58 0 0 0-11.49 0c-3.67.12-5-1.54-5-5.13q.11-47.74 0-95.47h.25zm22.39-52.57c0 9.64-.18 19.29.14 28.93.07 2.07 1.47 5.28 3.08 5.92 10.52 4.22 22.34-3.15 22.76-14.43.51-13.95.26-27.92.16-41.89 0-5.28-2.73-9.56-7.51-11.43-3.73-1.46-8-1.53-12.13-2-4.69-.53-6.61 1.78-6.54 6.45.16 9.51.04 18.97.04 28.45zM407.11 216.69v69.93c0 9.74-1.78 19-8.57 26.44-10.58 11.62-24.17 12.8-38.22 9.36-13.81-3.38-20.88-13.49-23-27.2a75.61 75.61 0 0 1-.87-11.43q-.09-66.94 0-133.88a84 84 0 0 1 1.79-16.31c2.75-13.56 11.44-21.63 24.79-24.2 16.3-3.15 32.24 1.42 39.15 15.71 3.13 6.49 4.5 14.35 4.68 21.64.61 23.3.25 46.62.25 69.94zm-48.14-.42h-.07v62.92a110.42 110.42 0 0 0 .36 12.47 12.65 12.65 0 0 0 12.7 11.12 12.32 12.32 0 0 0 12.24-11.48c.38-4 .65-8 .65-12q.07-60.92 0-121.84c0-5.15-.25-10.31-.61-15.45-.49-7-5.5-12-12.11-12.19-6.25-.22-11.65 4.36-12.81 11a35.06 35.06 0 0 0-.34 6q-.03 34.74-.01 69.44zM162.24 203.57c0 27.49.08 55 0 82.47 0 10.9-1.89 21.31-10.62 29.11-11.28 10.06-24.48 10.78-38 6.65s-20-14.43-21.33-28c-.75-7.61-.92-15.29-.93-22.95q-.12-76.47 0-152.94c0-6.13.43-6.52 6.5-6.38 4 .09 8 0 12 0 2.89 0 4.3 1.41 4.3 4.28v165.43a81.53 81.53 0 0 0 .85 11.44 11.89 11.89 0 0 0 9.84 10c5.6.89 11-1.63 13.18-6.79a24.72 24.72 0 0 0 1.75-9.18q.15-84 .06-167.93c0-7.36 0-7.33 7.57-7.18a76.17 76.17 0 0 0 9-.06c4.73-.47 6 1.65 6 6.1-.13 28.65-.06 57.31-.06 86zM23.91 216.08v65.48a50.83 50.83 0 0 0 1 9.91c1.67 8.18 6.74 12 14.43 11.25 7-.69 11.43-5.77 11.59-13.82.16-7.83 0-15.66 0-23.49 0-8.5-.05-17 .08-25.49.07-4.36-1.6-6.44-6.18-6.35-6.58.12-6.6-.06-6.57-6.72v-10c0-3.33 1.51-4.8 4.86-4.77 8 .08 16 .06 24 0 3.45 0 4.63 1.72 4.62 5-.08 24.82 0 49.64-.14 74.46-.1 16.17-7.33 26-23 30.32-13.83 3.85-27.17 3.31-38-7.87-7-7.18-8.74-16.56-9.06-25.87-.83-24.28-1-48.59-1.27-72.88-.19-20.33-.39-40.66.14-61a96.14 96.14 0 0 1 3.86-24.06c4.53-15.56 23.1-24.8 40.54-21 16 3.48 25 12.8 26.32 29 1 11.92.55 24 .41 35.95 0 1.27-2.23 3.46-3.6 3.61a129.28 129.28 0 0 1-13.48.22c-3.73 0-4.19-2.41-4.16-5.4.07-8.83.36-17.68-.09-26.48a26.83 26.83 0 0 0-3.17-11.27c-2.37-4.29-6.92-5.63-11.73-4.91-4.64.69-8.16 3.42-9.47 7.88a45.55 45.55 0 0 0-1.8 12.26c-.22 22.06-.13 44.05-.13 66.04zM752.18 167.73c0 7.66-.12 15.33 0 23 .19 9.89 4.82 14.65 14.6 15.35 20.65 1.49 32.3 13.69 32.51 34.37q.24 24.23 0 48.47c-.16 13.37-4.8 24.64-17.37 30.93-13.17 6.59-26.48 6.17-39.05-1.69-9.3-5.81-12.71-15.34-13.36-25.61-.71-11.12-.32-22.31-.43-33.46 0-3 1.53-4.2 4.35-4.19 4.16 0 8.33.06 12.49 0 3.69-.07 5 1.79 4.9 5.29q-.2 12.24-.06 24.49a42.11 42.11 0 0 0 .83 8.42c1.35 6.25 5.95 9.9 12 9.91a12.27 12.27 0 0 0 12.31-9.7 44.77 44.77 0 0 0 .92-9.91q-.1-20.73-.5-41.46c-.16-9.35-4.17-13.38-13.41-14.7-5.23-.75-10.62-1.66-15.46-3.64-12-4.94-17.31-15.35-17.78-27.37-.75-19.11-.59-38.3.27-57.41.61-13.48 8.21-23.17 21.05-27.73 13.4-4.75 26.36-3.5 37.64 5.79 7.9 6.5 10.24 15.81 10.63 25.51.41 10.31.16 20.65.3 31 0 3.12-1.19 4.68-4.38 4.65-4 0-8-.1-12 .06-3.69.15-5.08-1.56-5-5.1.1-7.83.13-15.66 0-23.49a45.67 45.67 0 0 0-.94-8.91c-1.51-7-6.55-11-13-10.73s-11.66 5.22-12 12.44c-.37 8.42-.06 16.93-.06 25.42zM203.79 169.03c0 6.67-.09 13.33 0 20 .2 11.83 4.34 16.21 16 17.12 18.57 1.45 30.62 13.75 31.1 32.71q.65 25.73 0 51.49c-.41 15.23-7.42 26.65-22.37 31.59-14.09 4.66-27.4 3-38.51-7.72-5.8-5.58-8.2-13-8.62-20.8-.61-11.47-.59-23-.84-34.46-.07-3.07 1.74-4.09 4.46-4.09 4 0 8 .13 12 0s5.27 1.57 5.26 5.41c0 10 0 20 .46 30 .33 7.12 5.13 12.11 11.21 12.67 7 .63 12.47-3.32 13.8-10.2a53 53 0 0 0 1.1-10.42c-.13-13.49-.58-27-.75-40.46-.1-8.22-5-14.95-14.07-14.68a33.92 33.92 0 0 1-9.34-1.52c-12.56-3.28-20-11.6-22.42-24.17a100.46 100.46 0 0 1-1.39-17.89c-.1-13.66 0-27.33.34-41 1-33.72 36.41-41.05 56.2-28.13 9.79 6.39 12.72 16.52 13.47 27.17.74 10.45.13 21 .25 31.48 0 3.74-1.75 5-5.24 4.9-3.66-.12-7.34-.21-11 0-4.05.24-5.22-1.67-5.15-5.41q.24-13 .06-26c-.15-10.48-4.75-16.48-12.58-16.8s-13 5.21-13.66 15.73c-.47 7.8-.09 15.64-.09 23.47h.34zM654.6 216.14v-99.46c0-3.58 1.2-5.22 4.89-5.21q26.74.09 53.48 0c3.67 0 5.1 1.63 5 5.17a105.72 105.72 0 0 0 0 11c.29 4-1.47 5.39-5.25 5.35-9.5-.12-19-.08-28.49-.12-6 0-7.06.94-7.06 6.87v55.48c0 5.91 1 6.87 7.06 6.85 7.33 0 14.66.09 22-.12 4.36-.12 6.06 1.67 5.78 6a77.22 77.22 0 0 0 0 10c.26 4.07-1.4 5.81-5.5 5.73-7.49-.14-15-.09-22.49-.08-5.8 0-6.82 1-6.83 6.58 0 21.16 0 42.32-.11 63.48 0 4.78 2 6.53 6.63 6.44 9.16-.19 18.33-.08 27.49-.1 6.21 0 6.74.54 6.72 6.92 0 3.17-.06 6.33 0 9.5.13 3.61-1.47 5.06-5.1 5q-26.48-.15-53 0c-3.8 0-5.35-1.29-5.34-5.26.11-33.32.06-66.64.06-100zM305.11 227.37c0 29.14-.07 58.28.08 87.43 0 4.44-1.15 6.55-5.92 6.14a72.9 72.9 0 0 0-11 0c-4.42.29-6.23-1.2-6.22-5.94q.22-74.94.13-149.87v-25.48c0-5.71-1.07-6.76-6.66-6.77-5.16 0-10.33 0-15.48.12-3.52.08-5.28-1.39-5.26-5s.08-7.34-.21-11c-.33-4.19 1.45-5.6 5.51-5.57 20.65.14 41.3.11 61.95.14 10.88 0 10.82 0 10.92 10.82.1 11.53.21 10.65-10.58 10.5-3.83-.05-7.66.09-11.49 0-4.73-.17-5.93 2.37-5.9 6.58.11 19.65.07 39.3.08 58.95v29z'/%3E%3C/svg%3E") no-repeat center;
    background-size: cover;
  }

  &__list,
  &__labels {
    list-style: none;
    display: flex;
    color: #423329;
    justify-content: flex-end;
  }

  &__menu {
    width: 80%;
    padding-top: 17px;
  }

  &__list {
    padding-bottom: 4px;
    flex-wrap: wrap;
  }

  &__labels-item {
    margin-left: 20px;
  }

  &__item {
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 10px;

    &:first-child {
      margin-left: 0;
    }

    a {
      color: #423329;
      text-decoration: none;
      text-transform: uppercase;

      &:hover,
      &.active {
        color: $main-color;
      }
    }
  }
}

// main
.main {
  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  &--articles {
    font-size: $font-size-h4;
    padding-bottom: 96px;
  }
}

// articles
.articles {
  width: 66%;

  &__list {
    list-style: none;
    padding-bottom: 29px;
  }

  &__title {
    padding-bottom: 4px;

    a {
      color: $main-color;
      text-decoration: none;
    }
  }

  &__item {
    border-bottom: 1px solid #9b9b9b;
    padding-bottom: 34px;
    padding-top: 20px;

    &:first-child {
      padding-top: 0;
    }

    .link {
      font-size: $font-size-h4;
      padding-top: 19px;
      display: block;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  &__text {
    font-size: $font-size-h4;
    font-family: $sans-serif;
    line-height: 24px;

    &--serif {
      font-family: $serif;
    }
  }

  &__image {
    padding-bottom: 21px;

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
}

// aside
.aside {
  width: 30%;

  &__about-chief {
    padding-bottom: 54px;
  }

  &__title {
    padding-bottom: 8px;
  }

  &__text {
    font-size: $font-size-h4;
    font-family: $sans-serif;
    line-height: 22px;
    padding-bottom: 21px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding-bottom: 13px;
  }

  &__popular {
    padding-bottom: 65px;

    .aside__title {
      padding-bottom: 14px;
    }
  }

  &__subscribe {
    border: 1px solid #9b9b9b;
    background-color: #e7e4dd;
    color: #9b9b9b;
    font-size: $font-size-h3;
    text-align: center;
    padding: 45px 10px;
    margin-bottom: 22px;
    font-family: $sans-serif;
    line-height: 24px;
  }
}

// pagination
.pagination {
  &__list {
    display: flex;
    list-style: none;
    align-items: center;
  }

  &__item {
    font-size: $font-size-h4;
    margin-right: 19px;

    a {
      text-decoration: none;
      color: #5c4739;

      &:hover {
        color: $main-color;
      }

      &.active {
        font-weight: bold;
        color: $main-color;
        text-decoration: underline;
      }
    }
  }

  &__arrow {
    width: 9px;
    height: 15px;
    display: block;
    background: url(../images/pagination__arrow.png) no-repeat center;
    background-size: cover;

    &--left {
      transform: rotate(180deg);
    }
  }
}

// breadcrumbs
.breadcrumbs {
  padding-top: 25px;
  padding-bottom: 40px;

  &__container {
    @include container;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    font-size: $font-size-text;

    &.active {
      color: $main-color;
    }

    a {
      color: #5c4739;
      text-decoration: none;
    }
  }
}

// about-chief
.about-chief {
  padding-bottom: 80px;

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 32%;

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  &__content {
    width: 66%;
  }

  &__title {
    font-size: $font-size-h3;
  }

  &__subtitle {
    font-size: $font-size-text;
    display: block;
    padding-bottom: 15px;
  }

  &__text {
    font-size: $font-size-h4;
    font-family: $sans-serif;
    line-height: 22px;
  }
}

// main-dishes
.main-dishes {
  padding-bottom: 75px;

  &__container {
    @include container;
  }

  &__title {
    text-align: center;
    padding-bottom: 36px;
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  &__item {
    width: 288px;
  }

  &__image {
    width: 288px;
    height: 190px;
    padding-bottom: 13px;

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  &__text {
    font-size: $font-size-h4;
    line-height: 21px;
    font-family: $sans-serif;
  }
}

// mc-preview
.mc-preview {
  padding-bottom: 100px;

  &__container {
    @include container;
  }

  &__title {
    text-align: center;
    padding-bottom: 42px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 370px;
    border: 1px solid #9b9b9b;
    margin-right: 27px;
    transition: .2s;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover {
      border-color: $main-color;

      .mc-preview__image--bg:before,
      .mc-preview__btn {
        opacity: 1;
      }
    }
  }

  &__btn {
    position: absolute;
    left: 0;
    top: 35px;
    right: 0;
    margin: auto;
    width: 115px;
    opacity: 0;

    &--enroll {
      top: 100px;
    }
  }

  &__image {
    width: 370px;
    height: 180px;
    margin-bottom: 13px;
    position: relative;

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }

    &--bg:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(255,255,255,.15);
      transition: .2s;
      opacity: 0;
    }
  }

  &__subtitle {
    font-size: $font-size-h4;
    line-height: 19px;
    padding: 11px 17px;
    height: 37px;
  }

  &__content {
    padding-right: 22px;
    padding-left: 17px;
  }

  &__recipe {
    height: 177px;
    border-bottom: 1px solid #9b9b9b;
  }

  &__recipe-title {
    font-size: $font-size-text-big;
    display: block;
    padding-bottom: 12px;
  }

  &__recipe-list {
    padding-left: 14px;
  }

  &__recipe-item {
    font-family: $sans-serif;
    font-size: $font-size-text;
    line-height: 18px;
    padding-bottom: 10px;
  }

  &__info {
    padding-top: 11px;
    padding-bottom: 27px;
  }

  &__info-list {
    display: flex;
    justify-content: space-between;
  }

  &__info-item {
    font-size: $font-size-text-big;
    position: relative;

    &:after {
      position: absolute;
      top: 4px;
      right: -18px;
      width: 1px;
      height: 14px;
      content: '';
      background-color: #9b9b9b;
    }

    &:last-child:after {
      display: none;
    }

    &--marked {
      color: $main-color;
    }

    &--bold {
      font-weight: bold;
    }
  }
}
