// header
header.header
  .header__container
    ul.header__menu
      li.header__item: a(href="#") Мастер-классы
      li.header__item: a(href="#") Праздники и корпоративы
      li.header__item: a.active(href="#") О школе и поварах
      li.header__item: a.header__logo(href="#")
      li.header__item: a(href="#") Галерея
      li.header__item: a(href="#") Партнёры
      li.header__item: a(href="#") Блог Фабрицио Фатуччи
      li.header__item: a(href="#") Контакты
